# My Jupiter note book on IBM Watson studio

## Maryam Mirlohi
Future data scientist

*In the following I am going to write a code using python*

In [3]:
20+30+50

100

In [2]:
10*2

20

In [4]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

   cake  cheese   chocholate
0   100       70          30